In [1]:
import os
import pandas as pd
from sqlalchemy.engine import create_engine
import psycopg2

class DataETLManager:
    def __init__(self, root_dir: str, csv_file: str):
        if os.path.exists(root_dir):
            if csv_file.endswith('.csv'):
                self.csv_file = os.path.join(root_dir, csv_file)
            else:
                logging.error('The file is not in csv format')
                exit(1)
        else:
            logging.error('The root dir path does not exist')
            exit(1)

        self.bos_crime_df = pd.read_csv(self.csv_file, sep=',', encoding='ISO-8859-1',low_memory=False)
    
    def extract_data(self):
        """
        returns the boston crime data frame we hacve just created
        """
        return self.bos_crime_df

    def fetch_columns(self):
        """
        returns all the columns in the data
        """
        og_colunms = self.bos_crime_df.columns.tolist()

    def data_description(self):
        """
        useful if we want a have a quick glance at the structure of the data

        """
        return self.bos_crime_df.describe()

    def data_dtypes(self):
        return self.bos_crime_df.dtypes
    
    def fetch_categorical(self, categorical=False):
        """
        returns the categorical values in the data frame
        """
        if categorical:
            categorical_columns = list(set(self.bos_crime_df.columns) - set(self.bos_crime_df._get_numerical_data().columns))
            categorical_df = self.bos_crime_df[categorical_columns]
            return categorical_df
        else:
            non_categorical = list(set(self.bos_crime_df._get_numerical_data().columns))
            return self.bos_crime_df[non_categorical]
        
    def transform_data(self):
        # Drop null rows where all values are missing (i.e., rows that have NaN values in all columns):

        self.bos_crime_df.dropna(how='all', inplace=True)
        
        self.bos_crime_df.dropna(axis=1, how='all', inplace=True)
        self.bos_crime_df.columns = ['incident_number', 'offense_code', 'offense_description', 'district', 'reporting_area', 'shooting', 'occurred_on_date', 'year', 'month', 'day_of_week', 'hour', 'street', 'lat', 'long', 'location']

    
    def load_data(self):
        database_config = {
        'username': 'postgres',
        'password': '17110303Cx',
        'host': 'localhost',
        'port':'5432',
        'database':'postgres',
        'schema':'boscrime'
        }
    
        engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
            database_config['username'],
            database_config['password'],
            database_config['host'],
            database_config['port'],
            database_config['database'],
        ))
#         engine = create_engine(
#         'postgresql://postgres:17110303Cx@localhost:5432/postgres/boscrime',)

        data_to_load = type(pd.DataFrame())(self.bos_crime_df)
        
        try:
        # Set the search path to the desired schema
            data_to_load.to_sql('bos_crime', con=engine, if_exists='append', index=False, schema=database_config['schema'])

        except Exception as err:
            print(err)

In [2]:
dm = DataETLManager("/Users/carriexia/Desktop/fall_2023/softwares_ai_ml/module_2/hmw2","bos_crime.csv")

dm.extract_data()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,222076257,619,NaN,LARCENY ALL OTHERS,D4,167,0,2022-01-01 00:00:00,2022,1,Saturday,0,NaN,HARRISON AVE,42.339542,-71.069409,"(42.33954198983014, -71.06940876967543)"
1,222053099,2670,NaN,HARASSMENT/ CRIMINAL HARASSMENT,A7,,0,2022-01-01 00:00:00,2022,1,Saturday,0,NaN,BENNINGTON ST,42.377246,-71.032597,"(42.37724638479816, -71.0325970804128)"
2,222039411,3201,NaN,PROPERTY - LOST/ MISSING,D14,778,0,2022-01-01 00:00:00,2022,1,Saturday,0,NaN,WASHINGTON ST,42.349056,-71.150498,"(42.34905600030506, -71.15049849975023)"
3,222011090,3201,NaN,PROPERTY - LOST/ MISSING,B3,465,0,2022-01-01 00:00:00,2022,1,Saturday,0,NaN,BLUE HILL AVE,42.284826,-71.091374,"(42.28482576580488, -71.09137368938802)"
4,222062685,3201,NaN,PROPERTY - LOST/ MISSING,B3,465,0,2022-01-01 00:00:00,2022,1,Saturday,0,NaN,BLUE HILL AVE,42.284826,-71.091374,"(42.28482576580488, -71.09137368938802)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73847,232000091,1402,NaN,VANDALISM,A1,66,0,2022-12-31 23:30:00,2022,12,Saturday,23,NaN,CHARLES ST,42.359790,-71.070782,"(42.35979037458775, -71.07078234449541)"
73848,232000002,3831,NaN,M/V - LEAVING SCENE - PROPERTY DAMAGE,C11,,0,2022-12-31 23:37:00,2022,12,Saturday,23,NaN,COLUMBIA RD,42.319593,-71.062607,"(42.31959298334654, -71.06260699634272)"
73849,232000140,619,NaN,LARCENY ALL OTHERS,D14,778,0,2022-12-31 23:45:00,2022,12,Saturday,23,NaN,WASHINGTON ST,42.349056,-71.150498,"(42.34905600030506, -71.15049849975023)"
73850,232000315,3201,NaN,PROPERTY - LOST/ MISSING,D4,167,0,2022-12-31 23:50:00,2022,12,Saturday,23,NaN,HARRISON AVENUE,NaN,NaN,NaN
73851,232000052,3114,NaN,INVESTIGATE PROPERTY,A1,,0,2022-12-31 23:50:00,2022,12,Saturday,23,NaN,MOUNT VERNON ST,42.357879,-71.069680,"(42.357878706878985, -71.06967973039733)"

In [3]:
dm.transform_data()
dm.extract_data()

,incident_number,offense_code,offense_description,district,reporting_area,shooting,occurred_on_date,year,month,day_of_week,hour,street,lat,long,location
0,222076257,619,LARCENY ALL OTHERS,D4,167,0,2022-01-01 00:00:00,2022,1,Saturday,0,HARRISON AVE,42.339542,-71.069409,"(42.33954198983014, -71.06940876967543)"
1,222053099,2670,HARASSMENT/ CRIMINAL HARASSMENT,A7,,0,2022-01-01 00:00:00,2022,1,Saturday,0,BENNINGTON ST,42.377246,-71.032597,"(42.37724638479816, -71.0325970804128)"
2,222039411,3201,PROPERTY - LOST/ MISSING,D14,778,0,2022-01-01 00:00:00,2022,1,Saturday,0,WASHINGTON ST,42.349056,-71.150498,"(42.34905600030506, -71.15049849975023)"
3,222011090,3201,PROPERTY - LOST/ MISSING,B3,465,0,2022-01-01 00:00:00,2022,1,Saturday,0,BLUE HILL AVE,42.284826,-71.091374,"(42.28482576580488, -71.09137368938802)"
4,222062685,3201,PROPERTY - LOST/ MISSING,B3,465,0,2022-01-01 00:00:00,2022,1,Saturday,0,BLUE HILL AVE,42.284826,-71.091374,"(42.28482576580488, -71.09137368938802)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73847,232000091,1402,VANDALISM,A1,66,0,2022-12-31 23:30:00,2022,12,Saturday,23,CHARLES ST,42.359790,-71.070782,"(42.35979037458775, -71.07078234449541)"
73848,232000002,3831,M/V - LEAVING SCENE - PROPERTY DAMAGE,C11,,0,2022-12-31 23:37:00,2022,12,Saturday,23,COLUMBIA RD,42.319593,-71.062607,"(42.31959298334654, -71.06260699634272)"
73849,232000140,619,LARCENY ALL OTHERS,D14,778,0,2022-12-31 23:45:00,2022,12,Saturday,23,WASHINGTON ST,42.349056,-71.150498,"(42.34905600030506, -71.15049849975023)"
73850,232000315,3201,PROPERTY - LOST/ MISSING,D4,167,0,2022-12-31 23:50:00,2022,12,Saturday,23,HARRISON AVENUE,NaN,NaN,NaN
73851,232000052,3114,INVESTIGATE PROPERTY,A1,,0,2022-12-31 23:50:00,2022,12,Saturday,23,MOUNT VERNON ST,42.357879,-71.069680,"(42.357878706878985, -71.06967973039733)"

In [4]:
# dm.load_data()

In [5]:
dm.load_data()

In [6]:
# dm.fetch_columns()